@model IEnumerable<Webshop.Models.Product>
@{
    ViewBag.Title = "Home Page";
}




<table border="1">

    @foreach (var item in ViewBag.products.list.Values)
    {

        <tr> <td>@item.Naziv</td></tr>
        <tr> <td>@item.Cena</td></tr>

        <form method="post" action="~/ShoppingCart/Add">
            <input type="text" value="1" name="count" />
            <input type="hidden" value="@item.Id" name="id" />
            <input type="submit" value="Dodaj" />
        </form>

    }
</table>

<a href="/ShoppingCart">Prikazi korpu</a>
@Html.ActionLink("Zavrsi", "Zavrsi", "ShoppingCart")
@Html.ActionLink("Prijavi se", "Index", "Login")